.Product__card {
  height: fit-content;
  width: 16rem;

  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 10px;
  overflow: hidden;

  background-color: #edf2f8;
  padding: 0.5rem;
}

.Product__card-img {
  height: 18rem;
}

.Product__card img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.Product__card-title {
  font-size: 0.875rem;
  color: var(--primary-text-color);
  font-weight: 600;
}

.Product__card-prices {
  display: flex;
  font-size: 0.875rem;
  gap: 0.25rem;
}

.Product__card-prices .Product__card-prices_price1 {
  font-weight: bold;
}
.Product__card-prices .Product__card-prices_price2 {
  font-weight: bold;
  font-size: 0.8rem;
  text-decoration: line-through;
}

.Product__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-btn {
  background-color: var(--primary-text-color);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0.25rem;
}

.Product__card-sales-tag {
  display: inline-block;

  position: absolute;
  background-color: red;
  color: white;
  font-size: 0.875rem;
  border-radius: 5px;
  padding: 0.25rem 0.8rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
