.OrdersPage {
  padding-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--primary-text-color);
}

.OrdersPage ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.OrderCard {
  margin: 1rem 0;
  background-color: aliceblue;
  border: 3px solid var(--primary-text-color);
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}

.OrderCard__orderId {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.OrderCard__status {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.OrderCard-productsList {
  list-style: none;
}

.Download-Invoice-btn {
  background-color: var(--primary-text-color);
  color: white;
  font-weight: bold;
  width: 100%;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
}
