.app__navbar {
  width: 100%;
  padding: 0.25rem 4rem;
  /* position: fixed; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__navbar-logo {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
}

.app__navbar-logo img {
  height: 3rem;
}

.app__navbar-logo a {
  color: black;
}

.app__navbar-links {
  list-style: none;
  display: flex;
}

.app__navbar-link {
  font-size: 1rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: black;
}

.search-input {
  background-color: #edf2f8;
  padding: 0.35rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: none;
  outline: none;
}

.search-input:focus{
  border: none;
  outline: none
  ;
}

@media (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }
  .app__navbar-logo {
    font-size: 2rem;
    font-style: italic;
  }
  .app__navbar-link-text {
    display: none;
  }
}
